<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/contact.css">
    </head>
    <body>
    <header>
        <!-- <i class="fas fa-frog"></i> -->
        <!-- <i class="fas fa-frog"></i> -->
      <!-- <h2><a href="/"><i class="fas fa-frog"></i>Eccentric Toad</a> </h2> -->
      <h2><a href="/"><i class="fas fa-frog fa-2x" ></i>Eccentric Toad</a> </h2>
      <nav>
        <!-- <li><a href="/carers">Meet my Colleagues</a> </li> -->
        <!-- <li><a href="/about">About</a> </li> -->
        <li><a href="/contact">Contact</a></li>
        <!-- <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li> -->
      </nav>
    </header>

    
    <section class="samples" id="samples" >
        <div class="container">
          <ul class="grid">
              <a  class="link" href="http://www.care-givers.co.za"><li class="small" style="background-image: url(assets/img/cristina-gottardi-227407.jpg);">Care Givers</li></a>
              <p>A simple website for a small home-based carer business.</p>
          </ul>
        </div>  
        <div class="container">
          <ul class="grid">
              <a  class="link" href="http://www.digital-alchemy.solutions"><li class="small" style="background-image: url(assets/img/avian-bird-nest-birth-158734.jpg);">Scheduler</li></a>
              <p>This is a scheduling app predominantly designed for a home-based care agency. A scheduling app that utilizes an online database.</p>
          </ul>
        </div>  
        <div class="container">
          <ul class="grid">
            <li>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/TsNWwzoV9_s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <p>A short video depicting the apps main functionality. You can also navigate to <a class="youtube" href="https://youtu.be/TsNWwzoV9_s">Youtube</a></p>
          </li>
          </ul>
        </div>  
        <div class="container">
          <ul class="grid">
              <a  class="link" href="/water"><li class="small" style="background-image: url(assets/img/water.jpg);">Water Wise</li></a>
              <p>Watch your water consumption.</p>
          </ul>
        </div>   
        <div class="container">
          <ul class="grid">
              <a  class="link" href="/news"><li class="small" style="background-image: url(assets/img/bandAid.jpg);">Medical News</li></a>
              <p>Watch your water consumption.</p>
          </ul>
        </div>   

        
                                               -->
      </section>


  </body>
</html>
