<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Web Developer, NodeJs, mySQL, Vue, Data Visualization">
  <title>Eccentric Toad</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body>
  <header>
    <h2><a href="/">Eccentric Toad</a> </h2>
    <nav>
      <li><a href="/about">Samples</a> </li>
      <li><a href="/contact">Contact</a> </li>
    </nav>
  </header>

  <section class="hero">
    <div class="background-image" style="background-image: url(assets/img/blake-connally-373084-unsplash.jpg);"></div>
    <div class="hero-content-area">
      <h1>Eccentric Toad</h1>
      <h3>Full Stack Web Development</h3>
      <a href="/contact" class="btn">Get in Touch</a>
    </div>
  </section>

  <section class="destinations">
    <h3 class="title">About Us:</h3>
    <hr>
    <p>We offer full stack web development, server side using NodeJs and express for dynamic websites
      using any database of your choice. We use relational databases like mySQL and PostgreSQL as well as noSQL databases such as MongoDB.
      We also do static websites to showcase who you are and what you do.
      <br>

      Whether your need is simply to showcase your business and or products, has an interactive flavor
      for clients to order or purchase goods or a website app that has hundereds of users enabling your
      business to be as dynamic and productive as possible, Eccentric Toad can make it happen. </p>
      <hr>
      <br>
      <p><em>I live in beautiful Cape Town with my Wife, two dogs, a really noisy Ringneck Parrot and a whole bunch of fish.</em></p>
    <hr>


    <ul class="grid">
      <li class="small" style="background-image: url(assets/img/IMG_3355.jpg);"></li>
      <li class="large" style="background-image: url(assets/img/alejandro-escamilla-10-unsplash.jpg);"></li>
      <li class="large" style="background-image: url(assets/img/ilya-pavlov-87438-unsplash.jpg);"></li>
      <li class="small" style="background-image: url(assets/img/web-design.jpg);"></li>
    </ul>
  </section>
  <section class="packages">
    <h3 class="title">What I offer</h3>
    <p>Full stack web development, whether a simple static page or a dynamic page with plenty of users. Interactive data visualization, database applications.</p>
    <hr>
    <ul class="grid">
      <li>
        <i class="fas fa-code fa-4x" style="color: #22559C;"></i>
        <h4>Ground up Web Design</h4>
        <p>I love being creative and designing unique and different websites from scratch. Playing around with HTML, CSS and other tools really stimulates my creative side.</p>
      </li>
      <li>
        <i class="fas fa-database fa-4x" style="color: #22559C;"></i>
        <h4>Database Applications</h4>
        <p>Whether you prefer a relational database like SQLServer, PostgreSQL or mySQL or go with noSQL databases like MongoDB, I can create a multi-user app
        to make you and your business far more productive.</p>
      </li>
      <li>
        <i class="fab fa-html5 fa-4x" style="color: #22559C;"></i>
        <h4>Data Visualization</h4>
        <p>I love Data Visualization, making all your hard work interactively user friendly and visually appealing is something I am really passionate about.
        A picture really says a thousand words and gets YOUR message across perfectly.</p>
      </li>
      <li>
        <i class="fab fa-node-js fa-4x" style="color: #22559C;"></i>
        <h4>NodeJs Server-Side Applications</h4>
        <p>Behing the scenes but extremely important, NodeJs makes it all work in the background ensuring you are always online and functioning.</p>
      </li>
    </ul>
  </section>

  <!-- <section class="testimonials"> -->
    
    <!-- <p class="quote">After a lengthy stay in hospital I came home with a carer and I struck gold.
    That carer was Hazel, who is a carer in every sense of the word. She is quietly efficient, never
  intrusive yet always intuitive to ones needs. I cannot fault her in any way and am forever grateful that she was the one
who helped me make the very difficult transition from hospital to home.</p>
    <p class="author">- June Druker (Claremont, Cape Town)</p>
    <p class="quote">I found Hazel to be extremely knowledgable and she really offers a quality service. She displays professionalism combined with
    empathy and is passionately dedicated to caring and helping others. She is honest, diligent, efficient, well organized, prompt and shows high levels of integrity.</p>
    <p class="author">- Heather Maytham (Lakeside, Cape Town)</p>
    <p class="quote">
             I can't recommend Hazel too highly, whoever employs her
             will be very happy.  She came to work with us at a very
             difficult time as my husband was dying with Prostate
             cancer and Parkinson's and needed a lot of extra care.
                  She is very efficient, caring and honest and couldn't do
             enough for us, whoever employs her will be very lucky. I
             wish she were still here now.</p>
    <p class="author">- Lady Alison Southwood (Oxford, U.K.)</p> -->
  <!-- </section> -->

  <section class="contact">
    <h3 class="title">Learn more</h3>
    <p>In short, I love what I do and take pride in producing apps and websites that carry you forward, your success is my success.</p>
  <hr>
  <form>
    <a href="/contact" class="btn">Get in Touch</a>
    <a href="/about" class="btn">Some Examples of my Work</a>
  </form>
  </section>
  <footer>
    <p>Images courtesy of <a href="http://unsplash.com/">Unsplash</a>.</p>
    <p><a href="http://www.eccentrictoad.com">Designed and Hosted by Eccentric Toad</a></p>
    <ul>
      <!-- <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li> -->
      <li><a href="https://web.facebook.com/Digital-Alchemy-215749809113486/"><i class="fab fa-facebook-square fa-2x"></i></a></li>
      <li><a href="https://za.linkedin.com/in/wayne-bruton-9a82942b"><i class="fab fa-linkedin fa-2x"></i></a></li>
    </ul>
  </footer>
</body>
</html>
